<div style="clear: both;" *ngIf="reader">
  <div style="width: 50%; float: left;">

    <md-card *ngIf="isEditable; else editable">
      <md-card-content>
        <div *ngIf="_reader.imageUrl"
             style="width: 100px; margin: 20px auto 0">
          <img md-card-image
               src="{{ _reader.imageUrl }}">
        </div>
        <md-input-container style="display: block">
          <input mdInput placeholder="Photo URL" [(ngModel)]="_reader.imageUrl">
        </md-input-container>
        <md-input-container style="display: block">
          <input mdInput placeholder="Full Name" [(ngModel)]="_reader.fullName">
        </md-input-container>
        <md-input-container style="display: block">
          <input mdInput placeholder="Login" [(ngModel)]="_reader.login">
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-button
                color="primary"
                class="mat-raised-button"
                (click)="onSave()">
          <md-icon>done</md-icon>
          Save changes
        </button>
        <button md-button
                class="mat-raised-button"
                (click)="onCancel()">Cancel</button>
      </md-card-actions>
    </md-card>

    <ng-template #editable>
      <md-card>
        <div *ngIf="reader.imageUrl"
             style="width: 100px; margin: 20px auto 0">
          <img md-card-image src="{{ reader.imageUrl }}">
        </div>
        <md-card-content>
          <p *ngIf="!!reader.fullName">{{ reader.fullName }}</p>
          <p *ngIf="!!reader.login">{{ reader.login }}</p>
        </md-card-content>
        <md-card-actions>
          <button md-button
                  (click)="onEdit()"
                  color="primary"
                  class="mat-raised-button">
            <md-icon>mode_edit</md-icon>
            Edit
          </button>
        </md-card-actions>
      </md-card>
    </ng-template>

  </div>
  <div style="width: 50%; float: left;">
    <app-bookshelves [bookshelves]="reader.bookshelves"
                     (deleteBookshelf)="deleteUserBookshelf($event)"
                     (addBookshelf)="addUserBookshelf()"></app-bookshelves>
  </div>
</div>
<div style="clear: both"></div>
