<md-card>
  <md-card-header>
    <h3>
      {{ bookshelf.title }}
    </h3>
  </md-card-header>
  <md-card-content>
    <md-list *ngIf="bookshelf.books" class="padding-left-20">
      <h3 md-subheader>Books:</h3>
      <md-list-item *ngFor="let book of bookshelf.books">
        <div md-line>{{ book.book.title }}</div>
        <span md-line class="mat-body-1 mat-primary">{{book.status}}</span>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button
            (click)="onEdit()"
            color="primary"
            class="mat-raised-button">
      <md-icon>mode_edit</md-icon>
      Edit
    </button>
    <button md-button
            (click)="onDelete()"
            class="mat-raised-button mat-warn">
      <md-icon>delete</md-icon>
      Delete bookshelf
    </button>
  </md-card-actions>
</md-card>
