<md-card>
  <div *ngIf="reader.image"
       style="width: 100px; margin: 20px auto 0">
    <img md-card-image src="{{ reader.image }}">
  </div>
  <md-card-content>
    <p *ngIf="!!reader.first_name || !!reader.last_name">{{ reader.first_name }} {{ reader.last_name }}</p>
    <p *ngIf="!!reader.username">{{ reader.username }}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button
            (click)="onEdit()"
            color="primary"
            class="mat-raised-button">
      <md-icon>mode_edit</md-icon>
      Edit
    </button>
  </md-card-actions>
</md-card>
