<mat-card>
  <div *ngIf="reader.image"
       style="width: 100px; margin: 20px auto 0">
    <img mat-card-image src="{{ reader.image }}">
  </div>
  <mat-card-content>
    <p *ngIf="!!reader.first_name || !!reader.last_name">{{ reader.first_name }} {{ reader.last_name }}</p>
    <p *ngIf="!!reader.username">{{ reader.username }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            (click)="onEdit()"
            color="primary"
            class="mat-raised-button">
      <mat-icon>mode_edit</mat-icon>
      Edit
    </button>
  </mat-card-actions>
</mat-card>
