<p>User bookshelves</p>
<a md-button (click)="onAddItem()">Add new</a>
<app-bookshelves-item *ngFor="let bookshelf of bookshelves"
                      [bookshelf]="bookshelf"
                      (click)="onItemSelected(bookshelf)"></app-bookshelves-item>
<hr style="margin: 30px 0">
<app-bookshelves-detailed *ngIf="isDetailed"
                          [bookshelf]="selectedBookshelf"
                          (editItem)="onEditItem($event)"></app-bookshelves-detailed>
<app-bookshelves-edit *ngIf="isEditable"
                      [bookshelf]="selectedBookshelf"
                      (saveItem)="onSaveItem()"
                      (deleteItem)="onDeleteItem($event)"></app-bookshelves-edit>
