<h2 class="mat-headline">User bookshelves</h2>

<a mat-button
   (click)="onAddItem()"
   class="mat-raised-button"
    color="primary">Add new</a>
<a mat-button
   *ngIf="hasChanges"
   (click)="onSaveItems()"
   class="mat-raised-button">
  <mat-icon>done</mat-icon>
  Save changes</a>
<br><br>

<app-bookshelves-item *ngFor="let bookshelf of _bookshelves"
                      [bookshelf]="bookshelf"
                      (click)="onItemSelected(bookshelf)"
                      [ngClass]="{'active': selectedBookshelf === bookshelf}"></app-bookshelves-item>

<hr *ngIf="isDetailed || isEditable" style="margin: 30px 0">

<app-bookshelves-detailed *ngIf="isDetailed"
                          [bookshelf]="selectedBookshelf"
                          (editItem)="onEditItem($event)"
                          (deleteItem)="onDeleteItem($event)"></app-bookshelves-detailed>

<app-bookshelves-edit *ngIf="isEditable"
                      [bookshelf]="selectedBookshelf"
                      (saveItem)="onSaveItem()"
                      (itemChanged)="onItemChanged()"></app-bookshelves-edit>
