<mat-card style="width: 300px; max-width: 100%; margin: 30px auto 0; display: block">
  <mat-card-header>
    <mat-card-title><h3>Sign up</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #signUpForm="ngForm">
      <mat-form-field style="display: block">
        <input mdInput
               ngModel
               name="email"
               placeholder="email">
      </mat-form-field>
      <mat-form-field style="display: block">
        <input mdInput
               ngModel
               name="password"
               placeholder="password"
               type="password">
      </mat-form-field>
    </form>
    <p>{{ errorText }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            class="mat-raised-button"
            color="primary"
            (click)="onSignUp(signUpForm)">{{ "Sign up" | uppercase }}</button>
  </mat-card-actions>
</mat-card>
