<h3>Edit your bookshelf</h3>
<mat-form-field>
  <input type="text"
         mdInput
         placeholder="Title"
         [(ngModel)]="_bookshelf.title">
</mat-form-field>
<br>
<mat-list class="padding-left-20"
         *ngIf="_bookshelf.books.length > 0">
  <h3 mat-subheader>Books:</h3>
  <mat-list-item *ngFor="let item of _bookshelf.books" style="cursor: pointer;">
    {{ item.book.title }}
    <br>
    <mat-select placeholder="Status"
               class="margin-left-20"
               [(ngModel)]="item.status">
      <mat-option *ngFor="let status of statuses"
                 [value]="status">{{ status }}</mat-option>
    </mat-select>
    <button mat-icon-button
            (click)="onDeleteBook(item)"
            color="primary"
            class="mat-raised-button margin-left-20">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<br>
<button mat-button
        color="primary"
        class="mat-raised-button"
        (click)="onSaveItem()"
        [disabled]="!_bookshelf.title">
  <mat-icon>done</mat-icon>
  Save changes
</button>
<button mat-button
        class="mat-raised-button"
        (click)="onCancelChanges()">Cancel</button>
