<mat-toolbar>
  <a routerLink="/" mat-button class="logo-icon"><span>Bookie</span></a>

  <div *ngIf="authService.isAuthenticated()">
    <a routerLink="/books" routerLinkActive="mat-button-toggle-checked" mat-button>Books</a>
    <a routerLink="/authors" routerLinkActive="mat-button-toggle-checked" mat-button>Authors</a>
  </div>

  <span style="flex: 1 1 auto;"></span>

  <a *ngIf="!authService.isAuthenticated()"
     routerLink="/sign-in"
     mat-button>Sign In</a>

  <div *ngIf="authService.isAuthenticated()">
    <a routerLink="/profile"
       mat-button>profile</a>
    <a
      (click)="onLogOut()"
      class="mat-button-toggle-checked"
      mat-button>Log out</a>
  </div>
</mat-toolbar>
